* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
.container{
    margin: 0 auto;
}
.navbar-toggler {
    display: none;
  }
@media (max-width: 1200px){
    .button1{
        right: 5%;
    }
}

@media (max-width: 1110px) {
    .container {
      width: auto;
      padding: 0 30px;
    }
    .menu{
        width: 50%;
    }
    .button1{
        left: 80%;
    }
    .imgwoman{

        width: 50%;
    }
}
@media (max-width: 992px){
    .button1{
        left: -50%;
    }
    .logo {
        order: -1;
        width: 10%;
      }
      .menu__wrapper {
        flex-wrap: wrap;
      }
      .social{
        order: -1;
        padding: 0px 0px;

    }
}
@media (max-width: 768px){
    .button1{
        left: -160%;
    }
    .logo {
        order: -1;
        width: 1%;
      }

      .header {
        min-height: 90px;
      }
      .social{
        order: -1;
        left: -500px;
    }
    .imgwoman{
        width: 33%;

    }
}
@media (max-width: 600px) {
    .button,
    .menu{
      display: none;
      width: 100%;
    }
    .navbar-toggler {
      display: block;
    }
    .mainmenu__list{
      flex-direction: column;
    }
    .social{
        order: -1;
        left: -500px;
    }
    .foot-menu{
        margin: 10px 10px;
    }
  }
  .show {
    display: block;
  }
@media (max-width: 320px){
    .foot-menu{
        margin: -100px -100px;
    }
}
/*-----------------------------Header-menu----------------------------------*/
.header-menu{
    max-width: 1110px;
}
.hidden{
    display: none;
    visibility: hidden;
}
.texth2{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: nullpx;
    color: #071330;
}
.textp{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: nullpx;
    color: #071330;
}
.section__wrapper {
    display: flex;
    flex-direction: row;

    padding-top: 15px;
    min-width: 1110px;
}
.logo{
    margin-top: 4px;
}
.menu{
    padding-top: 11px;
    color: #071330;
}
.mainmenu__list{
    display: flex;
}
.patients{
    margin-left: 64px;
    margin-right: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 11px;
}
.for:hover{
    background-color: #3D55F9;
    color: cornsilk;
}
.for:focus{
    background-color: #3D55F9;
    color: burlywood;
}
.for{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu a {
    text-decoration: none;
    color: #071330;
}
.button {
    background-color: #3D55F9;
    border: none;
    color: white;
    min-height: 40px;
    min-width: 152px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    right: -533px;
}
.button1 {
    border-radius: 12px;
}
.button:hover{
    background-color: crimson;
    color: cornsilk;
}
.button:focus{
    background-color: rgb(168, 19, 49);
    color: cornsilk;
}
/*-----------------------------block2-----------------------------*/
.block2{
    display: flex;
    flex-direction: row;
    max-width: 1110px;
    position: relative;
    min-height: 449px;
    margin-top: 114px;
}
.text1{
    margin-top: 67px;
    margin-bottom: 74px;
}
.text2{
    margin-right: 45px;
}
.raz{
    margin-top: 44px;
    min-height: 449px;
    width: 530px;
    left: 15px;
    top: 0px;
    border-radius: 0px;
}
.imgwoman{
    margin-left: -30px;
}
.enter{
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px;
    width: 497px;
    margin-top: 32px;
    border-radius: 12px;
    box-shadow: -1px 11px 17px 0px #c7c7c7;;
}
.email{
    border: none;
    outline: none;
    margin-left: 32px;
    width: 170px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 0px;
    color: rgba(7, 19, 48, 1);
}
.button2{
    margin-left: 111px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #3D55F9;
    border: none;
    color: white;
    min-height: 56px;
    min-width: 172px;
    top: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
}
.button2:hover{
    background-color: crimson;
    color: cornsilk;
}
.button2:focus{
    background-color: rgb(168, 19, 49);
    color: cornsilk;
}
.formenter{
    width: 497px;
}
/*-----------------------------block3-----------------------------*/
.block3{
    display: flex;
    flex-direction: row;
    max-width: 1130px;
    min-height: 553.5px;
    margin-top: 234px;
}
.smartphone{
    margin-left: 109px;

    filter: drop-shadow(0px 16px 32px rgba(7, 19, 48, 0.08));
    border-radius: 44px;
}
.imgsmartphone{
    height: 554px;
    width: 270px;
    left: 109px;
    top: 0px;
    border-radius: 44px;
}
.social{
    height: 416px;
    width: 470px;
    left: 645px;
    top: 68.75px;
    border-radius: 0px;
    margin-left: 266px;
    padding-top: 68.75px;
    padding-bottom: 68.75px;
}
.s1{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    height: 20px;
    width: 137px;
    left: 0px;
    top: 0.25px;
    border-radius: nullpx;
    color: #3D55F9;
}
.s2{
    height: 94px;
    width: 389px;
    left: 0px;
    top: 40.25px;
}
.s3{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    height: 97px;
    width: 437px;
    left: 0px;
    top: 7px;
    border-radius: nullpx;
    color: #071330;
}
.s4{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    height: 129px;
    width: 463px;
    left: 0px;
    top: 135px;
    border-radius: nullpx;
    color: #071330;
}
.testskin{
    height: 94px;
    width: 389px;
    left: 0px;
    top: 40.25px;
}
.withsocialp{
    padding-top: 33px;
    padding-bottom: 31px;
}
/*-----------------------------block4-----------------------------*/
.block4{
    display: flex;
    flex-direction: row;
    max-width: 1130px;
    min-height: 553.5px;
    margin-top: 234px;
}
.smartphone2{
    margin-left: 217.98px;
    filter: drop-shadow(0px 16px 32px rgba(7, 19, 48, 0.08));
    border-radius: 44px;
}
.imgsmartphone2{
    height: 554px;
    width: 270px;
    left: 109px;
    top: 0px;
    border-radius: 44px;
}
.social2{
    height: 352px;
    width: 470px;
    top: 100.75px;
    left: 645px;
    border-radius: 0px;
    margin-left: 80.02px;
    padding-top: 100.75px;
    padding-bottom: 68.75px;
}
.text4{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    margin-top: 33px;
    margin-bottom: 32px;
    text-align: left;
    color: #071330;
}
.textfind{
    height: 94px;
    width: 354px;
}
.textget{
    height: 65px;
    width: 429px;
}


/*----------------------footer-----------------------*/
.foot-menu{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    height: 209px;
}
.foot1{
    height: 42px;
    width: 300px;
    top: 84px;
    border-radius: 0px;
    padding-top: 84px;
    padding-bottom: 83px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #07133080;
}
.foot2{
    min-height: 18px;
    min-width: 300px;


    padding-left: 500px;
    padding-top: 95.5px;
    padding-bottom: 95.5px;
    padding-right: 0px;
    font-family: Roboto;
    font-size: 15px;

    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;


}
.privacy{
    margin-left: 40px;
    color: #07133080;
    text-decoration: none;
}
.privacy:hover{
    background-color: #3D55F9;
    color: cornsilk;
}
.privacy:focus{
    background-color: #3D55F9;
    color: burlywood;
}
